.profile-page {
	display: flex;
	width: 95%;
	max-width: 900px;
	background-color: $color-secondary;
	border-radius: 7px;
	margin: 1em auto 0;
	padding: 2em 0;
	.profile-picture-container {
		width: 50%;
		display: flex;
		flex-direction: column;
		align-items: center;
		border-right: 1px solid $color-tertiary;
		.profile-img {
			width: 60%;
			margin-bottom: 2em;
			img {
				width: 100%;
				border-radius: 50%;
				object-fit: cover;
				-webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.2);
				box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.2);
			}
		}
		
	}
	.infos-container {
		width: 50%;
		display: flex;
		flex-direction: column;
		align-items: center;
		color: $color-tertiary;
	}
}